In [11]:
import pandas as pd
import csv

In [12]:
csvpath_california = "./2020 County Health Rankings California Data - v1_0.csv"

In [21]:
california_df = pd.read_csv(csvpath_california)
ca_health_df = california_df[["FIPS","% Adults with Obesity","% Physically Inactive","% With Access to Exercise Opportunities","Primary Care Physicians Rate","High School Graduation Rate","% Unemployed"]]
ca_health_df.head()

,FIPS,% Adults with Obesity,% Physically Inactive,% With Access to Exercise Opportunities,Primary Care Physicians Rate,High School Graduation Rate,% Unemployed
0,6000,24,18,93,79,83.0,4.2
1,6001,19,15,100,110,87.0,3.0
2,6003,23,21,100,0,NaN,4.6
3,6005,30,25,76,67,88.0,4.0
4,6007,27,22,84,61,85.0,5.0

In [8]:
ca_health_df.astype({'FIPS': 'str'}).dtypes

FIPS                                        object
% Adults with Obesity                        int64
% Physically Inactive                        int64
% With Access to Exercise Opportunities      int64
Primary Care Physicians Rate                 int64
High School Graduation Rate                float64
% Unemployed                               float64
dtype: object

In [19]:
# Add 0 to the front of State/County code
# Used apply function along with format. Apply passes a function and applies it to every value in the series. 
# {:0>5}'.format | padding and aligning strings. :0 refers to the character we want to use to pad, in this case 0. 
# > tells it to align to the right. The 5 is the length of the returned character/digit. 
# In this case since the FIPS is only 4 digits this will apply one 0 to the front, making it a total of 5 digits
# https://www.w3resource.com/python/python-format.php
# https://www.geeksforgeeks.org/python-pandas-apply/

ca_health_df['FIPS'].apply('{:0>5}'.format)

0     06000
1     06001
2     06003
3     06005
4     06007
5     06009
6     06011
7     06013
8     06015
9     06017
10    06019
11    06021
12    06023
13    06025
14    06027
15    06029
16    06031
17    06033
18    06035
19    06037
20    06039
21    06041
22    06043
23    06045
24    06047
25    06049
26    06051
27    06053
28    06055
29    06057
30    06059
31    06061
32    06063
33    06065
34    06067
35    06069
36    06071
37    06073
38    06075
39    06077
40    06079
41    06081
42    06083
43    06085
44    06087
45    06089
46    06091
47    06093
48    06095
49    06097
50    06099
51    06101
52    06103
53    06105
54    06107
55    06109
56    06111
57    06113
58    06115
Name: FIPS, dtype: object