In [2]:
import requests
import pandas as pd
import csv

In [4]:
# Countyhealthrankings data
csvpath_california = "./2020 County Health Rankings California Data - v1_0.csv"
csvpath_ohio = "./2020 County Health Rankings Ohio Data - v1_0.csv"
csvpath_south_carolina = "./2020 County Health Rankings South Carolina Data - v1_0.csv"

In [3]:
# Census url
url = "https://api.census.gov/data/2018/acs/acs5?get=NAME,B19013_001E&for=county:*&in=state:*"
print(url)

https://api.census.gov/data/2018/acs/acs5?get=NAME,B19013_001E&for=county:*&in=state:*

In [4]:
census_data = requests.get(url).json()
df = pd.DataFrame(census_data).drop([0,])
df.head()

                                0      1   2    3
1  Washington County, Mississippi  30834  28  151
2       Perry County, Mississippi  39007  28  111
3     Choctaw County, Mississippi  37203  28  019
4    Itawamba County, Mississippi  40510  28  057
5     Carroll County, Mississippi  43060  28  015

In [5]:
new_df = df.rename(columns = {0:"County and State",
                             1:"Median Income",
                             2:"State Code",
                             3: "County Code"})
new_df.head()

                 County and State Median Income State Code County Code
1  Washington County, Mississippi         30834         28         151
2       Perry County, Mississippi         39007         28         111
3     Choctaw County, Mississippi         37203         28         019
4    Itawamba County, Mississippi         40510         28         057
5     Carroll County, Mississippi         43060         28         015

In [6]:
new_df["State and County Code"] = new_df["State Code"].astype(str) + new_df["County Code"].astype(str)
new_df.head()

,County and State,Median Income,State Code,County Code,State and County Code
1,"Washington County, Mississippi",30834,28,151,28151
2,"Perry County, Mississippi",39007,28,111,28111
3,"Choctaw County, Mississippi",37203,28,019,28019
4,"Itawamba County, Mississippi",40510,28,057,28057
5,"Carroll County, Mississippi",43060,28,015,28015

In [47]:
split_county_state = new_df["County and State"].str.split(",", n = 0, expand = True) 
new_df["County"]= split_county_state[0]
new_df["State"] = split_county_state[1]
new_df.head()

,County and State,Median Income,State Code,County Code,State and County Code,County,State
1,"Washington County, Mississippi",30834,28,151,28151,Washington County,Mississippi
2,"Perry County, Mississippi",39007,28,111,28111,Perry County,Mississippi
3,"Choctaw County, Mississippi",37203,28,019,28019,Choctaw County,Mississippi
4,"Itawamba County, Mississippi",40510,28,057,28057,Itawamba County,Mississippi
5,"Carroll County, Mississippi",43060,28,015,28015,Carroll County,Mississippi

In [42]:
clean_data = new_df[["County and State","Median Income","State and County Code","State"]].sort_values(by=['State and County Code'])
states = ["California","Ohio","South Carolina"]
select_states = clean_data[clean_data["State"].isin(states)==True]
select_states.head()

# clean_data.head()

Empty DataFrame
Columns: [County and State, Median Income, State and County Code, State]
Index: []

In [48]:
states = [" California"," Ohio"," South Carolina"]
for state in states:
    selected_states = clean_data.loc[clean_data["State"]==state]
    
selected_states.head()

,County and State,Median Income,State and County Code,State
1239,"Abbeville County, South Carolina",36685,45001,South Carolina
1221,"Aiken County, South Carolina",50036,45003,South Carolina
2606,"Allendale County, South Carolina",24560,45005,South Carolina
1233,"Anderson County, South Carolina",47906,45007,South Carolina
1240,"Bamberg County, South Carolina",32229,45009,South Carolina

In [70]:
c = clean_data.loc[clean_data["State"]==" California"]
c.dtypes

County and State         object
Median Income            object
State and County Code    object
State                    object
dtype: object

In [5]:
california_df = pd.read_csv(csvpath_california)
ohio_df = pd.read_csv(csvpath_ohio)
south_carolina_df = pd.read_csv(csvpath_south_carolina)

ca_health_df = california_df[["FIPS","% Adults with Obesity","% Physically Inactive","% With Access to Exercise Opportunities","Primary Care Physicians Rate","High School Graduation Rate","% Unemployed"]]
ohio_health_df = ohio_df[["FIPS","% Adults with Obesity","% Physically Inactive","% With Access to Exercise Opportunities","Primary Care Physicians Rate","High School Graduation Rate","% Unemployed"]]
south_carolina_health_df = south_carolina_df[["FIPS","% Adults with Obesity","% Physically Inactive","% With Access to Exercise Opportunities","Primary Care Physicians Rate","High School Graduation Rate","% Unemployed"]]

In [66]:
ca_health_df.head()
# iterate through rows and add 0 to string

,FIPS,% Adults with Obesity,% Physically Inactive,% With Access to Exercise Opportunities,Primary Care Physicians Rate,High School Graduation Rate,% Unemployed
0,6000,24,18,93,79,83.0,4.2
1,6001,19,15,100,110,87.0,3.0
2,6003,23,21,100,0,NaN,4.6
3,6005,30,25,76,67,88.0,4.0
4,6007,27,22,84,61,85.0,5.0

In [67]:
frames = [ca_health_df,ohio_health_df,south_carolina_health_df]
state_health_df = pd.concat(frames)
state_health_df.head()

,FIPS,% Adults with Obesity,% Physically Inactive,% With Access to Exercise Opportunities,Primary Care Physicians Rate,High School Graduation Rate,% Unemployed
0,6000,24,18,93,79,83.0,4.2
1,6001,19,15,100,110,87.0,3.0
2,6003,23,21,100,0,NaN,4.6
3,6005,30,25,76,67,88.0,4.0
4,6007,27,22,84,61,85.0,5.0

In [ ]:
merged_df = pd.merge(selected_states,state_health_df,how="")

In [ ]:
df =